<ul>
  <% @file_list.each do |file| %>
    <li><a href="/<%= file %>"><%= file %></a>
      <br>
      <a href="/<%= file %>/edit">Edit Document</a>
    <form action="/index/<%= file %>/delete" method="post" class="inline">
      <button type="submit">Delete File</button>
    </form>
    <form action="/index/<%= file %>/duplicate" method="post" class="inline">
      <button type="submit">Duplicate File</button>
    </form>

  </li>
  <% end %>
</ul>
<div class="links">
<h4 class="link"><a href="/index/archives">See Archives</a></h4>
<h4 class="link"><a href="/index/new">Create new document</a></h4>
<h4 class="link"><a href="/index/images">Manage Images</a></h4>
</div>

<footer>
  <% if session[:username] %>
    <p class="user_status">Signed in as <%= session[:username] %></p>
    <form action="/sign-out" method="post">
      <button type="submit">Sign Out</button>
    </form>
  <% else %>
    <p class="user_status">Please sign in:</p>
    <form action="/sign-in" method="get">
      <button type="submit">Sign In</button>
    </form>
    <% end %>
</footer>
